<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong>Detail:</strong>
  <%= @comment.detail %>
</p>

<p>
  <strong>Comment date:</strong>
  <%= @comment.created_at %>
</p>

<p>
  <strong>Purchase:</strong>
  <%= @comment.purchase.file_url %>
=======
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Purchase:</strong>
  <%= @comment.purchase_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
>>>>>>> 57ef46507b75b7b73aeca610c0f0f6b2874d1fbe
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
