<p id="notice"><%= notice %></p>

<p>

<table>
  <thead>
  <tr>
    <th>Download Link</th>
    <th>From Page</th>
    <th>To Page</th>
    <th>Number of pages printed per page</th>
    <th>Black and White</th>
    <th>Binding</th>
    <th>Tape</th>
    <th>Status</th>
    <th colspan="5"></th>
  </tr>
  </thead>
  <tbody>

<tr>
<td><%= link_to "Download Purchase", @purchase.attachment_url %></td>
<td><% if @purchase.from_page.blank? %>
      First page
    <% else %>
           <%= @purchase.from_page %>
           <% end %>
</td>
<td><% if @purchase.to_page.blank? %>
        Last page
    <% else %>
        <%= @purchase.to_page %>
      <% end %>
</td>
<td><%= @purchase.number_pages_per_pages  %></td>
<td><% if @purchase.bandw = false %>
      Colored
      <% else %>
  Black and White
  <% end %>
      </td>
<td><% if @purchase.binding==false %>
      Colored
      <% else %>
      Black and White
      <% end %>
      </td>
<td><% if @purchase.tape == true%>
      With tape
      <% else %>
  Without tape
      <% end %>
</td>
<td><% if (@purchase.status==0 )%>
          Not Seen Yet
         <% elsif (@purchase.status==1 )%>
             Working on it
          <% elsif (@purchase.status ==2) %>
             Finished
         <% end %>
</td>
</tr>
</tbody>
    </table>
</p>

<!-- DISCUSSION PART -->

<h2> Comments</h2>

<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Comment</th>
    <th>Date</th>

    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @comments.each do |comment| %>
      <tr>
        <td><%= User.find(comment.user_id_id).email %></td>
        <td><%= comment.text %></td>
        <td><%= comment.created_at %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<!-- OK LET'S JUST ADD THE FORMULAR PART FOR COMMENT -->
<%= form_for(@comment) do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="well">
      <%= f.label :text %><br>
      <%= f.text_area :text %>
      <% $p_id = @purchase.id %>
    <div class="actions">
     <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
    </div>
<% end %>

    <%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>