<p id="notice"><%= notice %></p>

<p>

<<<<<<< HEAD
<p>
  <strong>Detail:</strong>
  <%= @purchase.comments %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>

<%= render partial: 'comments/form' %>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Detail</th>
      <th>Commemt date</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.detail %></td>
        <td><%= comment.created_at %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
=======
<table>
  <thead>
  <tr>
    <th>Download Link</th>
    <th>From Page</th>
    <th>To Page</th>
    <th>Number of pages printed per page</th>
    <th>Black and White</th>
    <th>Binding</th>
    <th>Tape</th>
    <th>Status</th>
    <th>Comments</th>
    <th colspan="5"></th>
  </tr>
  </thead>
  <tbody>

<tr>
<td><%= link_to "Download Purchase", @purchase.attachment_url %></td>
<td><% if @purchase.from_page.blank? %>
      First page
    <% else %>
           <%= @purchase.from_page %>
           <% end %>
</td>
<td><% if @purchase.to_page.blank? %>
        Last page
    <% else %>
        <%= @purchase.to_page %>
      <% end %>
</td>
<td><%= @purchase.number_pages_per_pages  %></td>
<td><% if @purchase.bandw = false %>
      Colored
      <% else %>
  Black and White
  <% end %>
      </td>
<td><% if @purchase.binding==false %>
      Colored
      <% else %>
      Black and White
      <% end %>
      </td>
<td><% if @purchase.tape == true%>
      With tape
      <% else %>
  Without tape
      <% end %>
</td>
<td><% if (@purchase.status==0 )%>
          Not Seen Yet
         <% elsif (@purchase.status==1 )%>
             Working on it
          <% elsif (@purchase.status ==2) %>
             Finished
         <% end %>
</td>
<td><%= @purchase.comments %></td>
</tr>
</tbody>
    </table>
</p>
<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
>>>>>>> c63c5deb2a4bdc9cc60259b69a838071f36364a9
