<p id="notice"><%= notice %></p>

<h1>Listing Purchases</h1>

<table>
  <thead>
  <tr>
    <th>File url</th>
    <th>Comments</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.file_url %></td>
        <td><%= purchase.comments %></td>
        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
