<!DOCTYPE html>
<html>
<head>
  <title>Prototype</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div id="banner">
  <%= image_tag("logo.png") %>
  <%= @page_title || "Photocopy Shop WebSite" %>
</div>

<div id="columns">

  <div id="side">
    <p><% if user_signed_in? %>
          Welcome <%= current_user.email %>! Not you?
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or
          <%= link_to "Sign in", new_user_session_path %>.
      <% end %></p>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if user_signed_in? %>
      <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
      <li><%= link_to "Purchases List", "/purchases" %></li>
      <% if current_user.admin? %>
      <li><%= link_to "Users List", "/listofusers" %></li>
      <% end %>
      <% end %>
    </ul> </div>
  <div id="main">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if flash[:error] %>
        <div id="error">
          <%= flash[:error] %>
        </div>
    <% end %>
    <%= yield %>
  </div>
</div>


</body>
</html>
