<!DOCTYPE html>
<html>
<head>
  <title>Photocopyshop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

<div id="banner">
  <%= image_tag "logo.png" %>
  <%= @page_title || "Photocopy Shop WebSite" %>
</div>
<!-- Static navba
   <nav class="navbar navbar-default navbar-static-top">
     <div class="container">
       <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
       </div><!--navbar-header -->
       <div id="navbar" class="navbar">
         <ul class="nav navbar-nav">
           <li class="active"><%= link_to "Home", root_path %></li>
           <% if user_signed_in? %>
           <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
           <li><%= link_to "Purchases List", "/project/purchases" %></li>
           <li><%= link_to "New purchase", new_purchase_path %></li>
           <% if current_user.admin? %>
           <li><%= link_to "Users List", "/project/listofusers" %></li>
           <% end %>
           <% end %>
           <li><%= link_to "Book Cover Type", option_cover_path %></li>
           <li><%= link_to "Book Binder Type", option_binder_path %></li>
           <li><%= link_to "Paper Type", option_paper_path %></li>
           <!--<li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options<span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><%= link_to "Book Cover Type", option_cover_path %></li>
               <li><%= link_to "Book Binder Type", option_binder_path %></li>
               <li><%= link_to "Paper Type", option_paper_path %></li>
             </ul>
           </li>-->
           <li><%= link_to "Contact Us", option_index_path%></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
           
             <% if user_signed_in? %>
                   <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
               <% else %>
                   <li><%= link_to "Sign up", new_user_registration_path %></li>
                   <li><%= link_to "Log in", new_user_session_path %></li>
               <% end %>
         </ul>
       </div><!--/.nav-collapse -->
     <!--container-fluid -->
  
<br><br>
    <%= yield %>     
 <!--navbar navbar-default navbar-static-top --> 
</body>
 <!-- FOOTER -->
<footer>
  <br><br><br>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>&copy; 2015 Photocopy Shop Website, Inc. &middot; <%= link_to "Intellectual Propery Right", terms_index_path %></p>
</footer>
</html>
